* {
  text-decoration: none;
}

a {
  color: inherit;
}

.wrapper {
  margin: 0 auto;
  width: 1500px;
}

#header-logo {
  display: block;
  font-family: Raider Crusader;
  color: #707070;
  text-align: center;
  font-size: 35px;
  padding-bottom: 15px;
}

#header-logo:hover {
  color: #383838;
  transition-duration: 1.5s;
}

html, body {
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.nav-links {
  padding-top: 10px;
  text-align: center;
  font-family: Adam;
  color: #000;
  font-size: 20px;
}

.nav-links a:hover {
  font-weight: bold;
}

.welcome {
  width: 100%;
  text-align: center;
  margin-top: 12%;
}

.welcome h1 {
  font-size: 5vw;
  text-align: center;
  padding: 5px;
  font-family: adam;
  font-weight: bold;
}

.welcome p {
  font-size: 2vw;
  text-align: center;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.email-input {
 font-family: 'Montserrat', sans-serif;
 text-align: center;
}

form {
    border: 8px solid #f1f1f1;
    font-family: Arial;
    margin-top: 15%;
}

.container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #0abdff;
    color: white;
    border: none;
    padding: 15px 32px;
    width: 20%;
    text-align: center;
    position: absolute;
    left: 50%;
    text-decoration: none;
    transform: translateX(-50%);
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.view-more {
  display: block;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
  width: 150px;
  margin-left: 45%;
}

.view-more:hover {
  background-color: #6a9ced;
  color: #fff;
  transition-duration: .3s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.panel-2 {
  padding: 0px;
  margin: 0px;
  background-color: #003342;
  height: 50vw;
  width: auto;
}

#home-about-info {
  padding-top: 5px;
  font-family: 'Cabin';
  color: #ffffff;
  text-align: center;
  font-size: 5vw;
}

.panel-3 {
  margin: 0px;
  padding: 0px;
  background-color: #5b5b5b;
  height: 40vw;
  width: auto;
}

.panel-4 {
  margin: 0px;
  padding: 0px;
  background-color: #584175;
  height: 40vw;
  width: auto;
}

.panel-4 p {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  padding: 15px;
  text-align: left;
  color: #fff;
}

.footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  background-color: gray;
  width: 100%;
}

.footer img {
  padding: 5px;
}

.footer img:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: .5s;
  background-color: #a3b1c9;
}

.footer-copyright {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.DMCA {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
}

/*BLOG*/

.blogs {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
}

.blog-links {
  font-weight: bold;
}

.blog-links:hover {
  text-decoration: underline;
}

.blog1 {
  width: 300px;
  height: 300px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

.blog1 h2:hover {
  transition-duration: .5s;
  text-decoration: underline;
  color: #595959;
  display: block;
}

.blog1 img:hover {
  transition-duration: 1s;
  opacity: .85;
}

.blog1 h1 {
  text-align: center;
}

.blog2 {
  width: 300px;
  height: 300px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

.blog2 h2:hover {
  transition-duration: 1s;
  text-decoration: underline;
  color: #7f7f7f;
  display: block;
}

.blog2 img:hover {
  transition-duration: 1s;
  opacity: .85;
}

.blog2 h1 {
  text-align: center;
}

.blog3 {
  width: 300px;
  height: 300px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

.blog3 h2:hover {
  transition-duration: 1s;
  text-decoration: underline;
  color: #7f7f7f;
  display: block;
}

.blog3 img:hover {
  transition-duration: 1s;
  opacity: .85;
}

.blog3 h1 {
  text-align: center;
}

#archives {
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Patrick Hand', cursive;
}

#archives:hover {
  text-decoration: underline;
  cursor: context-menu;
}

.white-space3 {
  width: auto;
  height: 180px;
}

.podcast {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #4c4c4c;
  padding: 5px;
  flex-wrap: wrap;
}

.podcast:hover {
  transition-duration: 1.5s;
  color: #ff7700;
}

#podcast-title {
  padding-bottom: 15px;
}

.white-space2 {
  width: auto;
  height: 150px;
}
/*BLOG 1-3*/

.text-wrapper {
  margin: 0 auto;
  width: 1000px;
  font-family: 'Roboto', sans-serif;
}

.video {
 display: flex;
 justify-content: center;
 vertical-align: middle;
}

#fine-print {
  font-size: 12px;
  text-align: center;
}

#ul-list-blog {
  list-style-type: none;
  text-align: center;
  font-size: 24px;
}

.listen {
  padding: 15px;
  text-align: center;
}

/*PROJECTS*/

.all-projects {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectbox1 {
  background-color: #fcfcfc;
  width: 1000px;
  height: 200px;
  border-radius: 25px;
  margin: 35px;
}

.button {
    background-color: #2dc7ff; /* Light Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.projectbox1 h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Adam;
  font-weight: bold;
  font-size: 40px;
}

.projectbox1 h2:hover {
  transition-duration: .5s;
  text-decoration: underline;
  color: #595959;
  cursor: context-menu;
  -webkit-transition-timing-function: linear;
}

.twitter-follow-button {
  padding-top: 5%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.projectbox1:hover {
  transition-duration: .5s;
  border: solid;
  border-color: gray;
}

#description {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.white-space {
  width: auto;
  height: 200px;
}

/*ARCHIVES*/

.october-blogs {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: #4c4c4c;
}

.october-blogs a {
  width: auto;
  font-size: 16px;
  padding: 15px;
}

.october-blogs a:hover {
  text-decoration: underline;
  cursor: context-menu;
  color: #262626;
}

/*PROJECT 1*/

#project-title {
  letter-spacing: 3px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 43px;
  padding-top: 15px;
  margin: 0px;
}

#short-description {
  text-align: center;
  font-family: Adam;
  font-size: 28px;
  font-weight: bold;
}

.img-center {
  text-align: center;
}

#padding-right {
  padding-right: 25px;
}

#padding-left {
  padding-left: 25px;
}

.lang-used {
  text-align: center;
  font-family: Adam;
  font-weight: bold;
  font-size: 16px;
}

.lang-used p {
  font-size: 24px;
}

.lang-used h3 {
  font-size: 36px;
}


.download {
  color: gray;
  font-size: 30px;
  background-color: #84e3ff;
  width:110px;
  padding: 5px;
  margin: -10px -90px;
  position:relative;
  top:50%;
  left:55%;
}

.download:hover {
  transition-duration: 1s;
  background-color: #78cfe8;
}

/*PROJECT 2*/

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
}

.gallery img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6px;
}

.gallery img:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: .5s;
}

/*

JUST SOME EXTRA STUFF (BREAK IN CASE OF EMERGENCY )

height:20px;
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;*/

    /*padding: 5px;
    text-align: center;
    width: ;
    background-color: #85def7;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;*/


/*PORTFOLIO*/

#title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.skills {
  display: flex;
  justify-content: center;
}

.box-1 {
  font-size: 18px;
  margin: 5px;
  width: 200px;
  height: 100px;
  background-color: #94bece;
  text-align: center;
  font-family: Adam;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.box-1:hover {
  font-size: 22px;
  transition-duration: .1s;
  background-color: #adadad;
}

.box-2 {
  font-size: 18px;
  margin: 5px;
  width: 200px;
  height: 100px;
  background-color: #94bece;
  display: inline-flex;
  text-align: center;
  font-family: Adam;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.box-2:hover {
  font-size: 22px;
  transition-duration: .1s;
  background-color: #adadad;
}

.box-3 {
  font-size: 18px;
  margin: 5px;
  width: 200px;
  height: 100px;
  background-color: #94bece;
  display: inline-flex;
  text-align: center;
  font-family: Adam;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.box-3:hover {
  font-size: 22px;
  transition-duration: .1s;
  background-color: #adadad;
}

 .box-4 {
   font-size: 18px;
   margin: 5px;
   width: 200px;
   height: 100px;
   background-color: #94bece;
   display: inline-flex;
   text-align: center;
   font-family: Adam;
   font-weight: bold;
   justify-content: center;
   align-items: center;
   flex-flow: row nowrap;
 }

 .box-4:hover {
   font-size: 22px;
   transition-duration: .1s;
   background-color: #adadad;
 }

.box-5 {
  font-size: 18px;
  margin: 5px;
  display: flex;
  text-align: center;
  font-family: Adam;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.box-5:hover {
  transition-duration: 1s;
  filter: grayscale(100%);
}

.box-6 {
  font-size: 18px;
  margin: 0px;
  display: flex;
  text-align: center;
  font-family: Adam;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.box-6:hover {
  transition-duration: 1s;
  filter: grayscale(100%);
}

.volunteer {
  padding-top: 10%;
}

.live-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  background-color: #eee;
  text-align: center;
}


.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  font-family: 'Roboto', sans-serif;
}

/* ABOUT */

.side-panel {
  position: fixed;
  width: 600px;
}

.portriat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  display: inline-flex;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 25px;
}

.name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  float: left;
  margin-top: 50px;
  padding-left: 15px;
}

.slogan {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  float: left;
  padding-left: 15px;
}

hr {
  float: left;
  display: block;
  height: 10px;
  width: 50px;
  background-color: #4286f4;
}

.role {
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  float: left;
  padding-left: 15px;
}

.text-wrapper2 {
  margin: 0 auto;
  width: 900px;
  float: right;
}

.about-story {
  padding-top: 25px;
  text-align: left;
  position: relative;
  right: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #ceb9e8;
  padding: 0px 10px 10px 10px;
}

.oops {
  padding-top: 25px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

@media only screen and (max-width: 800px) {
    .about-story {
        font-size: 12px;
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    .welcome h1 {
      float: left;
    }
    .welcome p {
      float: left;
    }

}
